<div style="font-size: 18px; background-color: #c5c9da8c; color: black; margin: 5px; padding: 20px;">
    <div>
        <img src="{{ sitelink ~ asset('icons/logo_mpmepe.png') }}" alt="Logo du MPMEPE" style="width: auto; height: 70px;">
    </div>
    <p style="margin-bottom: 25px;">
        <a href="https://pmepe.gouv.bj" target="_blank" style="text-decoration: none; color: #5780c0;" title="Cliquer pour visiter notre site web">
            https://pmepe.gouv.bj
        </a>
    </p>
    <p style="margin-bottom: 25px;">
        Cotonou, le {{ 'now'|date('d/m/Y') }}
    </p>
    <p style="margin-bottom: 25px;">
        Bonjour,
    </p>
    <p style="margin-bottom: 25px;">
        Nous avons détecté une tentative de connexion à votre espace administrateur depuis un
        appareil ou une adresse IP inconnue. Pour garantir la sécurité de votre compte, nous avons
        besoin de confirmer que c'est bien vous.
    </p>
    <p style="margin-bottom: 25px;">
        Code de Confirmation : <strong>{{ authCode }}</strong>
    </p>
    <p style="margin-bottom: 25px;">
        Veuillez entrer ce code dans le formulaire de connexion pour confirmer votre identité. Ce
        code est valide pour une durée de 10 minutes.
    </p>
    <p style="margin-bottom: 25px;">
        Si vous n'êtes pas à l'origine de cette connexion, cela pourrait signifier que vos identifiants de
        connexion sont potentiellement compromis. Dans ce cas, nous vous recommandons fortement de
        modifier immédiatement votre mot de passe depuis votre hébergeur.
    </p>
    <p style="margin-bottom: 25px;">
        Votre sécurité est notre priorité. Si vous avez des questions ou besoin d'assistance, n'hésitez pas
        à contacter notre service client.
    </p>
    <p style="margin-bottom: 50px;">
        Date de connexion : {{ 'now'|date('d/m/Y à H:i:s') }} <br>
        Adresse IP : {{ app.request.clientIp }} <br>
        Système utilisé : Windows
    </p>
    <p style="margin-bottom: 25px;">
        Cordialement !
    </p>
    <p>
        Ceci est un mail automatique, vous ne pouvez pas y répondre. Contactez-nous directement via votre
        espace Contact sur le site web du
        <a href="https://pmepe.gouv.bj/inquietudes" target="_blank" style="text-decoration: none; color: #5780c0;" title="Cliquer pour nous contacter directement sur notre site web">
            Ministère des Petites et Moyennes Entreprises et de la Promotion de l'Emploi
        </a>
    </p>
</div>
